

<div id="#details_table_div">
    <table border="0" width="100%" cellspacing="0" cellpadding="3" class="small">
        <tr>
            <td>
                <img align="absmiddle" src="~/Images/notify_new.gif" />
                <span class="big3">课程资料详情</span>
            </td>
        </tr>
    </table>
    <table width="80%" align="center" border-spacing="0" class="TableBlock">
        <tr>
            <td>年级</td>
            <td>@Model.Faculty.Name</td>
        </tr>
        <tr>
            <td>科目</td>
            <td>@Model.Subject</td>
        </tr>
        <tr>
            <td>上传人</td>
            <td>@Model.Students.Name</td>
        </tr>
        <tr>
            <td>上传日期</td>
            <td>@Model.UploadTime</td>
        </tr>
        <tr>
            <td>资料名称</td>
            <td>@Model.MaterialName</td>
        </tr>
        <tr>
            <td>资料描述</td>
            <td>@Model.MaterialDescribe</td>
        </tr>
        <tr>
            <td>附件文档：</td>
            <td>@Model.Appendix</td>
        </tr>
        <tr align="center">
            <td nowrap="" colspan="2" class="TableControl">
                <input class="BigButton" type="button" value="关闭" />
            </td>
        </tr>
    </table>
</div>