@model MvcGraduate.Models.HomeWork
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/DetailsTableCss.css" />
</head>
<body>
    <div id="#details_table_div">
        <table border="0" width="80%" cellspacing="0">
            <tr>
                <td>
                    <img  src="~/Images/notify_new.gif" />
                    <span class="big3">作业提交情况</span>
                </td>
            </tr>
        </table>
        <table width="80%" align="center"  class="TableBlock">
            <tr>
                <td align="center">年级</td>
                <td>@Html.DisplayFor(model => model.Students.Grade.Faculty.Name)</td>
            </tr>
            <tr>
                <td align="center">班级</td>
                <td>@Html.DisplayFor(model => model.Students.Grade.Name)</td>
            </tr>
            <tr>
                <td align="center">提交人</td>
                <td>@Html.DisplayFor(model => model.Students.Name)</td>
            </tr>
            <tr>
                <td align="center">科目</td>
                <td>@Html.DisplayFor(model => model.Subject)</td>
            </tr>
            <tr>
                <td align="center">标题</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td align="center">提交时间</td>
                <td>@Html.DisplayFor(model => model.PublishTime)</td>
            </tr>
            <tr>
                <td align="center" class="TableDataWidth">提交内容</td>
                <td class="TableDataWidth">@Html.DisplayFor(model => model.Contents)</td>
            </tr>
            <tr>
                <td align="center">评分</td>
                <td>@Html.DisplayFor(model => model.Score)</td>
            </tr>
            <tr>
                <td align="center">评语</td>
                <td>@Html.DisplayFor(model => model.Comment)</td>
            </tr>
            <tr>
                <td align="center">附件</td>
                <td>@Html.DisplayFor(model => model.Appendix)</td>
            </tr>
            <tr align="center">
                <td nowrap="" colspan="2" class="TableControl">
                    <input class="BigButton" type="button" value="关闭" onclick="window.close()" />
                </td>
            </tr>
        </table>
    </div>
</body>
