@{
    MvcGraduate.Models.Students student = (MvcGraduate.Models.Students)Session["User"];
}
@if (student != null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/CSS/css")
    </head>
    <body>
        <div id="logo">
            <div id="logo_left">
                <img src="~/Images/page_logo.png" width="325" height="55" id="page_logo" />
                <a href="javascript:;" onclick="LogOut()"><img src="~/Images/login.png" width="50" height="50" id="loginimg" /></a>
                <div class="title_navigate">
                    <a href="@Url.Action("Index", "Home")"><div class="logo_left_title">我的主页</div></a>
                    <a href="@Url.Action("Index", "Study")"><div class="logo_left_title">我的学习</div></a>
                    <a href="@Url.Action("Index", "Grade")"><div class="logo_left_title">我的班级</div></a>
                    <a href="@Url.Action("Index", "NotifyNews")"><div class="logo_left_title">通知新闻</div></a>
                    <a href="@Url.Action("Index", "Interaction")"><div class="logo_left_title">我的互动</div></a>
                </div>
            </div>
            <div class="Top_bg">
                <div id="logo_right">
                    <img src="~/Images/stu_page_logo.png" id="stu_page_logo" />
                </div>
            </div>
            @*用户的图片和姓名*@
            <div class="Top_user_head"><img src="@student.Picture" width="57" height="57" alt="" /></div>
            <div class="Top_user_name" id="StudentInfo_Div" onclick="ShowStudentInfoDiv()">@student.Name</div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        @RenderPage("~/Views/Shared/FriendlyLink.cshtml")
        <div id="foot">
            <p>北京通达信科科技有限公司</p>
            地址： 北京市海淀区紫竹院路81号北方地产大厦1608室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话： 010-51905641
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/myJs")
        @Scripts.Render("~/bundles/weiyafei")
        @RenderSection("Scripts", required: false)
        <script type="text/javascript" src="~/Content/EasyUi/jquery.easyui.min.js"></script>
        <script>
            function ShowStudentInfoDiv() {
                var res = $('#Js_StudentInfo').css("opacity");
                if (res == 0) {
                    $.post(
                    "@Url.Action("GetAccountInfo", "Home")",
                    function (data) {
                        $('#Js_StudentInfo').html(data);
                        $("#Js_StudentInfo").animate({ opacity: "1" }, 100);
                        isShowStudentInfo = true;
                    });
                }
                else {
                    $('#Js_StudentInfo').animate({
                        opacity: 0
                    }, 100);
                }
            }
            function LogOut() {
                $.messager.confirm('提示', '你确定要离开吗?', function (r) {
                    if (r) {
                        @Session["User"]=Null;
                        location.href="@Url.Action("Index","Account")";
                    }
                });
            }
        </script>
    </body>
</html>
}
