<div class="frame_main">
    <ul>
        <li class="frame_title_line">
            <div class="frame_title no_select">@ViewBag.MyTitle</div>
        </li>
        <li class="detaile_line">
            <ul class="detaile_ul">
                @if (Model != null)
                {
                    var i = 0;
                    if (i++ < 3)
                    {
                        foreach (var item in Model)
                        {
                            <li>
                                <span class="info" onclick="window.open('@Url.Action("Details_Question", "Interaction", new { id = item.ID })', '', 'height=500,width=820,status=1,toolbar=no,menubar=no,location=no,scrollbars=yes,left=200,top=100,resizable=yes');">@item.Title</span>
                                <span class="time"><a href="javascript:;" onclick="Delete_This(this,@item.ID)">删除 @item.ID</a>@item.Time.ToShortDateString()</span>
                            </li>
                        }
                    }
                }
            </ul>
        </li>
    </ul>
</div>
<script type="text/javascript" src="~/Content/EasyUi/jquery.easyui.min.js"></script>
<script>
    function Delete_This(org,id) {
        $.messager.confirm('警告', '你确定要删除吗?', function (r) {
            if (r) {
                $.post(
                    "@Url.Action("DelQuestion", "Interaction")",
                    { "id": id },
                    function () {
                        $(org).parent().parent().remove();
                        alert("删除成功");
                    });
            }
        });
    }
</script>