<div class="frame_main">
    <ul>
        <li class="frame_title_line">
            <div class="frame_title">分享照片</div>
        </li>

        <li class="detaile_line">
            <table>
                <tbody>
                    <tr class="td_head" height="45">
                        <td style="width:22%;">缩略图</td>
                        <td style="width:15%;">上传人</td>
                        <td style="width:25%;">上传时间</td>
                        <td style="width:38%;">操作</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@item.ImagePath" /> </td>
                                <td>@item.Students.Name</td>
                                <td>@item.PubLishTime.ToShortDateString()</td>
                                <td>
                                    <p>
                                        <a href="javascript:;" onclick="window.open('@Url.Action("Details_Images", "Interaction", new { id = item.ID })', '', 'height=500,width=820,status=1,toolbar=no,menubar=no,location=no,scrollbars=yes,left=200,top=100,resizable=yes');">详情</a>
                                        <a href="#" style="margin-left:10px" onclick="GetShareImages_Comments(@item.ID)">查看评论</a>
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </li>
    </ul>
</div>