@{
    ViewBag.Title = "InteractionIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $('.title_navigate a:eq(4) div').addClass('logo_left_title_select');
        $(document).ready(function(){
            if ("@ViewBag.Redirect" == "RedirectToArticle")
            {
                $('.navigation_centre_left div').removeClass('navigation_menu_bg');
                $('.navigation_centre_left div:eq(2)').addClass('navigation_menu_bg');
                GetArticle();
            } else if ("@ViewBag.Redirect" == "RedirectToShareArticle") {
                $('.navigation_centre_left div').removeClass('navigation_menu_bg');
                $('.navigation_centre_left div:eq(3)').addClass('navigation_menu_bg');
                GetShare_Article();
            }
            else if ("@ViewBag.Redirect" == "RedirectToQuestion") {
                $('.navigation_centre_left div').removeClass('navigation_menu_bg');
                $('.navigation_centre_left div:eq(4)').addClass('navigation_menu_bg');
                GetQuestions();
            } else if ("@ViewBag.Redirect" == "RedirectToShareImage"){
                $('.navigation_centre_left div').removeClass('navigation_menu_bg');
                $('.navigation_centre_left div:eq(1)').addClass('navigation_menu_bg');
                GetShare_ImagesInfo();
            }
            else{
                $.post(
                    "@Url.Action("GetImagesInfo", "Interaction")",
                    function (data) {
                        $('.navigation_centre_right').html(data);
                    });
            }
        });
        function ManageImage()
        {
            $.post(
                "@Url.Action("GetImagesInfo", "Interaction")",
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetArticle()
        {
            $.post(
                "@Url.Action("GetArticle", "Interaction")",
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetQuestions() {
            $.post(
                "@Url.Action("GetQuestions", "Interaction")",
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetShare_Article() {
            $.post(
                "@Url.Action("GetShareArticle", "Interaction")",
                
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetShare_ImagesInfo() {
            $.post(
                "@Url.Action("GetShareImagesInfo", "Interaction")",
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetArticle_Comments(id)
        {
            $.post(
                "@Url.Action("GetArticleComments", "Interaction")",
                { "id": id },
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetShareArticle_Comments(id)
        {
            $.post(
                "@Url.Action("GetShareArticleComments", "Interaction")",
                { "id": id },
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetImages_Comments(id)
        {
            $.post(
                "@Url.Action("GetImagesComments", "Interaction")",
                { "id": id },
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
        function GetShareImages_Comments(id)
        {
            $.post(
                "@Url.Action("GetShareImagesComments", "Interaction")",
                { "id": id },
                function (data) {
                    $('.navigation_centre_right').html(data);
                });
        }
</script>
}

<div id="zhuye">
    <div class="common_top">
        <ul>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li class="gengduo"><a href="#">更多>></a></li>
        </ul>
    </div>
    <div id="Js_StudentInfo" style="opacity:0">

    </div>
    <div class="navigation_centre">
        <div class="navigation_centre_left">
            <div class="navigation_menu_bg" onclick="ManageImage()">照片管理</div>
            <div onclick="GetShare_ImagesInfo()">分享照片</div>
            <div onclick="GetArticle()">文章管理</div>
            <div onclick="GetShare_Article()">分享文章</div>
            <div onclick="GetQuestions()">我的提问</div>
        </div>
        <div class="navigation_centre_right">

        </div>
    </div>
</div>