@model MvcGraduate.Models.Students

@{
    ViewBag.Title = "GradeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
<script>
    $('.title_navigate a:eq(2) div').addClass('logo_left_title_select');
    $(document).ready(function(){
        if ("@ViewBag.Redirect" == "RedirectToMaterial") {
            $('.navigation_centre_left div').removeClass('navigation_menu_bg');
            $('.navigation_centre_left div:eq(2)').addClass('navigation_menu_bg');
            GetSubjectMaterial();
        } else if ("@ViewBag.Redirect" == "RedirectToTeacher") {
            $('.navigation_centre_left div').removeClass('navigation_menu_bg');
            $('.navigation_centre_left div:eq(1)').addClass('navigation_menu_bg');
            GetTeacher();
        }else {
            GetBanwei();
        }
    })

    function GetBanwei() {
        $.post(
            "@Url.Action("GetBanWei", "Grade")",
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
    }
    function GetTeacher() {
        $.post(
            "@Url.Action("GetTeacher", "Grade")",
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
    }
    function GetClassmate(){
        $.post(
            "@Url.Action("GetClassmate", "Grade")",
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
    }
    function GetSubjectMaterial() {
        $.post(
            "@Url.Action("GetSubjectMaterial", "Grade")",
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
    }
</script>
}
<div id="zhuye">
    <div class="common_top">
        <ul>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li><img src="~/Images/sys_message_ico.png" /></li>
            <li class="no_news"><a href="#">无信息</a></li>
            <li class="gengduo"><a href="#">更多>></a></li>
        </ul>
    </div>
    <div id="Js_StudentInfo" style="opacity:0">

    </div>
    <div class="navigation_centre">
        <div class="navigation_centre_left">
            <div class="navigation_menu_bg" onclick="GetBanwei()">查看班委</div>
            <div onclick="GetTeacher()">任课老师</div>
            <div onclick="GetSubjectMaterial()">课程资料</div>
            <div onclick="GetClassmate()">我的同学</div>
        </div>
        <div class="navigation_centre_right" id="Js_Study_RightBigDiv">

        </div>
    </div>
</div>

