@model MvcGraduate.Models.HomeWork

<fieldset>
    <div id="#details_table_div">
        <table border="0" width="100%" cellspacing="0" cellpadding="3" class="small">
            <tr>
                <td>
                    <img align="absmiddle" src="~/Images/notify_new.gif" />
                    <span class="big3">作业提交情况</span>
                </td>
            </tr>
        </table>
        <table width="80%" align="center" border-spacing="0" class="TableBlock">
            <tr>
                <td>年级</td>
                <td>@Html.DisplayFor(model => model.Students.Grade.Faculty.Name)</td>
            </tr>
            <tr>
                <td>班级</td>
                <td>@Html.DisplayFor(model => model.Students.Grade.Name)</td>
            </tr>
            <tr>
                <td>提交人</td>
                <td>@Html.DisplayFor(model => model.Students.Name)</td>
            </tr>
            <tr>
                <td>科目</td>
                <td>@Html.DisplayFor(model => model.Subject)</td>
            </tr>
            <tr>
                <td>标题</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>提交时间</td>
                <td>@Html.DisplayFor(model => model.PublishTime)</td>
            </tr>
            <tr>
                <td class="TableDataWidth">提交内容</td>
                <td class="TableDataWidth">@Html.DisplayFor(model => model.Contents)</td>
            </tr>
            <tr>
                <td>评分</td>
                <td>@Html.DisplayFor(model => model.Score)</td>
            </tr>
            <tr>
                <td>评语</td>
                <td>@Html.DisplayFor(model => model.Comment)</td>
            </tr>
            <tr>
                <td>附件</td>
                <td>@Html.DisplayFor(model => model.Appendix)</td>
            </tr>
            <tr align="center">
                <td nowrap="" colspan="2" class="TableControl">
                    <input class="BigButton" type="button" value="关闭" />
                </td>
            </tr>
        </table>
    </div>
</fieldset>
